<!-- body -->
<table class="body-wrap" bgcolor="#f6f6f6">
  <tr>
    <td></td>
    <td class="container">

      <!-- content -->
      <div class="content">
      <table class="main" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="alert alert-bad">
            <img src="https://www.somewherexpress.com/mstile-144x144.png" alt="" height="26px" width="26px" style="display: inline-block; width: 26px; vertical-align: top"><a href="https://www.somewherexpress.com">SomewherExpress</a>
          </td>
        </tr>
        <tr>
          <td class="message" bgcolor="#FFFFFF">
            <h3>Salut <%= @user.first_name %>,</h3>
            <p>Bienvenue sur <a href="https://www.somewherexpress.com">SomewherExpress</a>, nous sommes très heureux de t'avoir parmi nous.</p>
            <p>Pour te connecter, utilise ton adresse email <strong><%= @user.email %></strong> comme identifiant.</p>
            <!-- button -->
            <table class="btn-primary" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td></td>
                <td>
                  <a href="https://www.somewherexpress.com/competitions">Voir les prochaines compétitions</a>
                </td>
                <td></td>
              </tr>
            </table>
            <!-- /button -->
            <p>Tu peux nous retrouver sur <a href="https://www.facebook.com/somewherexpress/">facebook</a>.</p>

            <p>A bientôt,<br>
              Fabien pour le Comité Central de SomewherExpress.</p>
          </td>
        </tr>
      </table>
      </div>
      <!-- /content -->

    </td>
    <td></td>
  </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap" bgcolor="#f6f6f6">
  <tr>
    <td></td>
    <td class="container">

      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td align="center">
              <p>Trop d'email? <a href="https://www.somewherexpress.com/users/edit"><unsubscribe>Modifier mes préférences</unsubscribe></a>.
              </p>
              <p>Retrouve SomewherExpress: <a href="https://www.facebook.com/somewherexpress/">facebook</a></p>
            </td>
          </tr>
        </table>
      </div>
      <!-- /content -->

    </td>
    <td></td>
  </tr>
</table>
<!-- /footer -->
