<li class="list-group-item flex-container">
  <%= render 'subscriptions/user_registred', user: user %>
  <div class="flex-item">
    <i class="fa fa-check text-success cursor-default flex-item" data-toggle="tooltip" data-placement="bottom" title="<%= t('subscriptions.accepted_short') %>"></i>
  </div>
</li>
