<li id="subscription-<%= subscription.id %>-pending" class="list-group-item flex-container">
  <%= render 'subscriptions/user_registred', competition: subscription.competition, user: subscription.user %>
  <div class="edit-form flex-item marged-micro-sides">
    <% form = Subscription::Contract::Update.new(subscription) %>
    <%= render 'subscriptions/edit', subscription: form, competition: subscription.competition, user: subscription.user %>
  </div>
  <div class="flex-item status">
    <i class="fa fa-refresh text-warning cursor-default" data-toggle="tooltip" data-placement="bottom" title="<%= t('subscriptions.pending_short') %>"></i>
  </div>
</li>
