<li class="list-group-item flex-container">
  <%= render 'subscriptions/user_registred', competition: competition, user: user %>
  <div class="flex-item">
    <i class="fa fa-times text-danger cursor-default flex-item" data-toggle="tooltip" data-placement="bottom" title="<%= t('subscriptions.refused_short') %>"></i>
  </div>
</li>
