<div class="container padded">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3><%= t('.title') %></h3>

      <%= render 'form', competition: @competition %>
    </div>
  </div>
</div>