<div class="container">

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="text-center padded-mini">
        <%= link_to "Create a competition", new_competition_path, class: "navbar-wagon-button btn", style: "margin-left: 0" %>
      </div>

      <% @competitions.where(finished: false).order(:start_date).select{ |c| c.start_registration <= Date.today && (c.end_registration.nil? || c.end_registration > Date.today) }.each do |competition| %>

        <%= render 'card', competition: competition, status: "open" %>

      <% end %>

      <% @competitions.where(finished: false).order(:start_date).select{ |c| c.start_registration > Time.now || c.start_date < Date.today || (c.end_registration && c.end_registration < Time.now) }.each do |competition| %>

        <%= render 'card', competition: competition, status: "closed" %>

      <% end %>

      <% @competitions.where(finished: true).order(start_date: :desc).each do |competition| %>

        <%= render 'card', competition: competition, status: "finished" %>

      <% end %>
    </div>
  </div>
</div>