<h1>Hall of Fame</h1>

<table class="table">
  <tbody>
    <% @users.sort_by{ |u| -u.subscriptions.map{ |s| s.result }.select{ |r| r == 1 }.count }.each_with_index do |user, index| %>
      <tr>
        <td><%= image_tag user.avatar, height: "30px", class: "img-circle" %></td>
        <td><%= link_to user, user %></td>
        <td>
          <% user.subscriptions.each do |s| %>
            <% if s.result == 1 %>
              <i class="fa fa-trophy"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= '<i class="fa fa-certificate"></i>'.html_safe if user.se_committee %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

