<footer class="bg-dark-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-10">
        CC0 SOMEWHEREXPRESS 2015
      </div>
      <div class="col-xs-2 text-right">
        <%= link_to "//www.facebook.com/somewherexpress/", class: "white-link" do %>
          <i class="fa fa-facebook boxed"></i>
        <% end %>
      </div>
    </div>
  </div>
</footer>