<%= content_for(:title) do %>
  Règles
<% end %>

<%= content_for(:description) do %>
  <%= t('welcome.index.intro') %>
<% end %>

<div class="container padded-mini rules">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <h1>Règles de compétition</h1>

      <ol type="A">
        <li>
          <strong>Conditions de participation</strong>
          <p>Peuvent s’inscrire les personnes adultes au jour du départ de la compétition.</p>
        </li>
        <li>
          <strong>Règles de la course</strong>
          <ol>
            <li>Toute infraction à l'une des règles suivante entrainera la disqualification de l'équipe concernée.</li>
            <li>La course se déroule par équipe de 2. Les membres de chaque équipe sont inséparables pendant toute la durée du périple.</li>
            <li>Une équipe peut être constituée de deux garçons ou d'une fille et un garçon.</li>
            <ol type="a">
              <li>Exception: Si à la fin de la phase d'inscription d'une compétition il y a plus de filles que de garçons inscrits, une ou plusieurs équipes de 2 filles peu(ven)t être formée(s) sur une base volontaire (c.à.d. que les 2 filles doivent accepter d'être avec une autre fille). Si ce cas se présente, l'organisateur peut ajouter un handicap pour les équipes de 2 filles, étant donné qu'il est généralement accepté que 2 filles sont plus facilement prisent pour un trajet en stop.</li>
            </ol>
            <li>Les équipes et les lieux de départ sont tirés au sort par l'organisateur de la compétition. La composition des équipes, l’heure et le lieu de départ de la course, ainsi que le lieu exact de la ligne d’arrivée sont communiqués aux participants par l'organisateur entre la fin des inscriptions et le début de la compétition.</li>
            <li>L’équipe vainqueur d'une étape sera celle qui arrivera en premier sur la ligne d’arrivée. L’équipe doit pouvoir fournir une photo des deux membres sur la ligne d’arrivée. L’heure de la prise de la photo fait office de temps à l’arrivée.</li>
            <li>Si deux équipes arrivent en même temps sur la ligne d’arrivée, elles seront déclarées à égalité même si leurs photos sont prises avec quelques secondes de différence.</li>
            <li>Il n’est pas permis de dépenser de argent pour le transport entre le lieu de départ et la ligne d’arrivée. Il est permis de dépenser de l’argent pour d’autres biens (nourriture, toilettes, etc). Il n’est pas non plus permis de préparer un trajet, c’est à dire demander préalablement à une connaissance de conduire une équipe d’un point A à un point B.</li>
            <li>
              Il n’est pas permis de faire du stop ni d’entrer dans une voiture entre 23h et 7h du matin.
              <ol type="a">
                <li>Exception: Il est permis d’entrer dans une voiture pendant cette période si cette dernière est stationnée durant l’entièreté de la période.</li>
              </ol>
            </li>
            <li>
              En cas de trajet ayant débuté avant 23h et se terminant après 23h, l’équipe doit faire une pause de 8h consécutives à compter de l’heure de dépose du dernier trajet.
              <ol type="a">
                <li>Exemple : une équipe monte dans une voiture à 22h et se fait déposer à 1h du matin, elle ne peut reprendre le stop qu’à 9h.</li>
              </ol>
              De plus, les pauses effectuées par le chauffeur pendant cette période comptent comme trajet, elles ne peuvent être déduites des 8h de pause.
              <ol type="a" start="2">
                <li>Exemple : une équipe est prise à 22h, le chauffeur roule jusqu’à 1h, fait une pause jusqu’à 1h30 puis roule à nouveau et dépose l’équipe à 2h. L’équipe ne peut reprendre le stop qu’à 10h.</li>
                <li>Exception : Si une équipe se fait déposer proche de la ligne d’arrivée entre 23h et 7h, elle peut décider d’aller à pied (mais pas de faire du stop) jusqu’à l’arrivée. Son temps officiel d’arrivée sera augmenté de 8h. Exemple : une équipe se fait déposer à 1h et décide de marcher. Elle arrive à 2h13 à l’arrivée. Son temps officiel d’arrivée est 10h13.</li>
              </ol>

            </li>
          </ol>
        </li>
        <li>
          <strong>Compétitions à plusieurs étapes</strong>
          <ol>
            <li>À l'issue de chaque étape, les participants récoltent un certain nombre de points. Le barème des points est transmis aux participants par l'organisateur de la compétition.</li>
            <li>Le vainqueur final est le participant qui aura engrangé le plus de points durant toute la compétition.</li>
            <li>Lors de chaque étape, les équipes changent et sont tirées au sort par l'organisateur de l'évènement.</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</div>
