<%= content_for(:title) do %>
  Rules
<% end %>

<%= content_for(:description) do %>
  <%= t('welcome.index.intro') %>
<% end %>

<div class="container padded-mini rules">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <h1>Rules of the competition</h1>

      <ol type="A">
        <li>
          <strong>Conditions of participation</strong>
          <p>Those who are adults (18 years old) on the day of departure of the competition are permited to register</p>
        </li>
        <li>
          <strong>Rules of the race</strong>
          <ol>
            <li>Any violation of one of the following rules will result in disqualification of the team concerned.</li>
            <li>The race takes place in teams of 2. The members of each team are inseparable for the duration of the journey.</li>
            <li>A team can consist of two males or a female and a male.</li>
            <li>Teams and departure locations are drawn by the competition organizer. Team compositions, time and place of departure of the race, as well as the exact location of the finish line are communicated to the participants by the organizer between the end of the registrations and the start of the competition.</li>
            <li>The winning team will be that which will arrive first on the finish line. The team must be able to provide a photo of the two members on the finish line. The date of the photo serves as time of arrival.</li>
            <li>If two teams or more arrive at the same time on the finish line, they all will be attributed the same rank even if their photos are taken with a few seconds of difference.</li>
            <li>It is not allowed to spend money for transportation between the place of departure and the finish line. It is allowed to spend money on other goods (food, toilets, etc). It is not allowed to prepare a trip, ie asking an acquaintance in advance to driving a team from point A to point B.</li>
            <li>
              It is not allowed to hitchhike or to enter a car between 11pm and 7am.
              <ol type="a">
                <li>Exception: It is allowed to enter a car during this period if it is parked during the entire period.</li>
              </ol>
            </li>
            <li>
              In case of a journey beginning before 11pm and ending after 11pm, the team should pause for 8 consecutive hours after the end of the last journey.
              <ol type="a">
                <li>Example: a team gets into a car at 10pm and is dropped at 1am, it can resume hitchhiking at 9am.</li>
              </ol>
              In addition, the breaks made by the driver during this period count as journey, they can not be deducted from the 8 hours break.
              <ol type="a" start="2">
                <li>Example: a team is taken at 10pm, the driver drives until 1am, pauses until 1:30am then drives again and drops the team at 2am. The team can resume hitchhiking at 10am.</li>
                <li>Exception: If a team is dropped close to the finish between 11pm and 7am, it may decide to walk (but not to hitchhike) to the finish line. Their official arrival time will be increased by 8 hours. Example: A team is dropped at 1am and decides to walk. They arrive at 2:13am on the finish line. Their official finish time is 10:13am.</li>
              </ol>

            </li>
          </ol>
        </li>
        <li>
          <strong>Multistage competition</strong>
          <ol>
            <li>After each stage, participants collect a certain number of points. Participants are informed of the points scale by the organizer of the competition.</li>
            <li>The final winner is the participant who earned the most points throughout the competition.</li>
            <li>For each stage the teams change. They are drawn by the event organizer.</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</div>