h1 {
  text-align: center;
  font-weight: 400;
  font-size: 3em;
  margin-bottom: 0.4em;
  margin-top: 0.1em;
  color: $gray-dark;
}

h2,h3 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.panel h2, .panel h3 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.table {
  background: white;
}

.trophies {
  color: $yellow;
  font-size: 26px;
  &-small {
    color: $yellow;
  }
}

.medals {
  font-size: 1.2em;
  color: #dddddd;
  &-small {
    font-size: 1em;
    line-height: 1.4em;
    color: #dddddd;
  }
}

.award {
  width: 30px;
  border-radius: 50%;
}

.avatar-badge {
  border-radius: 50%;
  width: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile-pic {
  position: relative;
  width: 120px;
  display: block;
  margin: 20px auto;
}

.text-lightweight {
  font-weight: 300;
}

table tbody tr td {
  vertical-align: middle !important;
}

.corner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding-top: 4px;
  padding-right: 5px;

  &-danger {
    @extend .corner;
    color: white;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      border: 20px solid transparent;
      border-top: 20px solid $red;
      border-right: 20px solid $red;
    }
  }
}

.add_track {
  color: $purple;
  font-size: 1.5em;
  height: 2.5em;

  & i, & span {
    vertical-align: middle;
  }

  & .fa {
    font-size: 2em;
  }

  &:hover, &:focus {
    outline: none;
    color: $purple;
  }
}

.destroy_track {
  color: $red;
  font-size: 3em;
  padding-left: 10px;

  &:hover, &:focus {
    outline: none;
    color: $red;
  }

}

.panel {
  position: relative;
}

.edit_result_table {

  & .form-group {
    margin-bottom: 0;
  }

  & input[type='number'] {
    width: 50px;
    margin: 0 auto;
    -moz-appearance:textfield;
  }

  &input::-webkit-outer-spin-button,
  &input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.btn-grey {
  @extend .btn-default;
  background-color: $gray-lighter;
  color: $gray-light;
}

.far-right {
  @extend .pull-right;
  position: relative;
}

.fa-male {
  color: $blue;
}

.fa-female {
  color: #FF69B4;
}

.profile .fa-male, .profile .fa-female {
  font-size: 3em;
}

.dashboard .panel {
  border-radius: 5px;
}

.tab-content .panel {
  border-top: 0;
  border-radius: 0 0 5px 5px;
}

.bio-panel {
  .profile-pic {
    position: relative;
    display: block;
    margin: -40px auto 0;
    width: 80px;
  }
  .avatar-badge {
    bottom: -5px;
    right: -5px;
  }
}

.cover-image-mini {
  background: $red url(image_path("bg1.jpg")) no-repeat top center;
  background-size: cover;
  height: 100px;

  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

/* Welcome page */

.red-bg {
  background: $red url(image_path("bg1.jpg")) no-repeat top center;
  background-size: cover;

  h2 {
    color: white;
  }

  .table {
    background: white;
  }
}

.intro .lead {
  color: white;
}

.white-link {
  color: white;

  &:hover, &:focus {
    outline: none;
    color: $gray-lighter;
  }
}

.list-group-item {
  background: transparent;
}

.icon-se_logo:before {
  content: "\e900";
}
.icon-medal:before {
  content: "\e901";
}
.icon-laurel:before {
  content: "\e902";
}

.home {
  background: transparent;
  box-shadow: none;

  .navbar-wagon-container {
    height: 70px;
  }

  .navbar-wagon-logo {
    font-size: 3em;
    color: white;
  }

  .navbar-wagon-link {
    color: white;
  }

  hr {
    background-color: white;
  }

  .navbar-wagon-button {
    background-color: white;
    color: $brand-color;
    border: 2px solid white;

    &:hover {
      color: $brand-color;
      background: $gray-lighter;
    }
  }
}

.rules li {
  margin-bottom: 10px;
}

.tab-box {
  border: 1px solid #ddd;
  border-top: 0;
  background: white;
}

.nav-tabs {
  // background: $gray-lighter;
  border-radius: 5px 5px 0 0;
}

.wrapper {
  background: #f5f8fa;
}

.head-icon {
  font-size: 4em;
}

.unbordered {
  border: 0;
  border-radius: 0;
}

.bordered {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  &-top {
    border-top: 1px solid #DDDDDD;
  }
  &-bottom {
    border-bottom: 1px solid #DDDDDD;
  }
  &-full {
    border: 1px solid #DDDDDD;
  }
}

.pointer {
  cursor: pointer;
}