/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
  &-medium {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  }
  &-micro {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  &-mini {
    padding-top: 1em;
    padding-bottom: 1em;
    &-bottom {
      padding-bottom: 1em;
    }
    &-top {
      padding-top: 1em;
    }
    &-full {
      padding: 1em;
    }
    &-sides {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}

.marged {
  &-mini {
    margin-top: 1em;
    margin-bottom: 1em;
    &-sides {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
  &-medium {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
  &-micro {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    &-bottom {
      margin-bottom: 0.5em;
    }
    &-sides {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
    &-full {
      margin: 0.5em;
    }
  }
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-light-grey {
  background: #fafafa;
  // color: #777;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.bg-dark-grey {
  background: $gray-dark;
  color: white;
}

//Border
.dashed-border {
  border: 1px dashed $gray-dark;
}

//Other
.block-center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
