<div class="container padded-mini">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render 'subscriptions/form', competition: @subscription.competition, subscription: @subscription %>
    </div>
  </div>
</div>
