.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);

  &-green {
    @extend .ribbon;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;

    &:before, &:after {
      content: "";
      border-top:   3px solid #6e8900;
      border-left:  3px solid transparent;
      border-right: 3px solid transparent;
      position:absolute;
      bottom: -3px;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  &-gray {
    @extend .ribbon;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
    background-image: -webkit-linear-gradient(top, #eee, #ddd);
    background-image:    -moz-linear-gradient(top, #eee, #ddd);
    background-image:     -ms-linear-gradient(top, #eee, #ddd);
    background-image:      -o-linear-gradient(top, #eee, #ddd);
    color: #aaa;

    &:before, &:after {
      content: "";
      border-top:   3px solid #aaa;
      border-left:  3px solid transparent;
      border-right: 3px solid transparent;
      position:absolute;
      bottom: -3px;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  &-blue {
    @extend .ribbon;
    background-color: lighten($blue, 15%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(lighten($blue, 15%)), to($blue));
    background-image: -webkit-linear-gradient(top, lighten($blue, 15%), $blue);
    background-image:    -moz-linear-gradient(top, lighten($blue, 15%), $blue);
    background-image:     -ms-linear-gradient(top, lighten($blue, 15%), $blue);
    background-image:      -o-linear-gradient(top, lighten($blue, 15%), $blue);
    color: $purple;

    &:before, &:after {
      content: "";
      border-top:   3px solid $purple;
      border-left:  3px solid transparent;
      border-right: 3px solid transparent;
      position:absolute;
      bottom: -3px;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }
}

.left-of-ribbon {
  margin-right: 65px;
}
